
    body {
        min-width: 1200px;
        font-family: 'Montserrat', sans-serif;

    }
    
    .header {
        background-image: url("../img/header-bg.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .header-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(94, 93, 88, 0.6);
        height: 100px;
    }
    
    .header-container {
        display: flex;
        align-items: center;
        margin-right: 305px;
    }
    
    .header-menu-item {
        margin-right: 21px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 25px;
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none;
        height: calc(50% + 16px);
        box-sizing: border-box;
    }
    .header-menu-item:hover{
        color: #18CFAB;
    }
    
    
    .header-menu {
        display: flex;
        align-items: flex-end;
        height: 100%;
    }
    
    .header-title {
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 48px;
        color: #FFFFFF;
        margin-left: 6px;
    }
    
    .header-span {
        color: #18CFAB;
    }
    
    .header-logo-span {
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 31px;
        color: #FFFFFF;
        position: relative; /* Абсолютное позиционирование */
        left: 45px;
    
    }
    
    .header-menu-item:hover {
        border-bottom: 2px solid #18CFAB;
        transition: none
    }
    
    .aside-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
    }
    
    .aside-wrapper-button {
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    
    .btn-container {
        height: 31px;
        width: 134px;
    }
    
    .aside-wrapper-button {
        margin-top: 150px;
    }
    
    .aside-wrapper-button {
        height: 62px;
        width: 264px;
    }
    
    
    .aside-wrapper {
        margin-top: 264px;
    }
    
    .aside-title-1 {
        font-style: normal;
        font-weight: bold;
        font-size: 35px;
        line-height: 1px;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .aside-title-span {
        color: #18CFAB;
        margin-left: 15px;
    }
    
    .aside-title-2 {
        font-style: normal;
        font-weight: bold;
        font-size: 78px;
        line-height: 1px;
        color: #FFFFFF;
        margin-top: 88px;
        margin-bottom: 88px;
    
    }
    
    .aside-p {
        font-weight: normal;
        font-size: 34px;
        line-height: 1px;
        color: #D4D4D4;
    
    }
    
    
    .btn-container-2 {
        background-color: #00CBF6;
        border-radius: 3px;
        border-style: none;
        width: 169px;
        height: 60px;
    }
    
    .option-container {
        width: 482px;
        height: 377px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .option-container1,
    .option-container3 {
        background-color: #1C2A33;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        color: #18CFAB;
    
    }
    
    .option-container2,
    .option-container4 {
        background-color: #18CFAB;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
    }
    
    .option {
        display: flex;
        justify-content: center;
        margin-top: 8px;
    }
    
    .option-container2 p,
    .option-container4 p {
        margin-top: 58px;
    }
    
    .option-container1 p,
    .option-container3 p {
        margin-top: 48px;
    }
    
    .stick1,
    .stick2 {
        background-color: #18CFAB;
        height: 1px;
        margin-top: 3px;
    }
    
    .midle-stick {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .stick1 {
        margin-right: 26px;
        width: 76px;
    }
    
    .stick2 {
        width: 78px;
        height: 1px;
    }
    
    .main-services-title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 40px;
        color: #4E4E4E;
        margin-bottom: 20px;
        margin-top: 83px;
    }
    
    .main-services-btn {
        width: 195px;
        height: 76px;
        border-style: none;
        background-color: #F8FCFE;
        box-sizing: border-box;
    
    }
    
    .menu-design {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 69px;
    
    }
    
    .main-services-btn:hover {
        border: 2px solid #18CFAB;
        cursor: pointer;
    }
    
    
    .botom-elem {
        border: 15px solid transparent;
        border-top: 15px solid #18CFAB;
        position: relative;
        right: 115px;
        top: 50px;
        left: 110px;
    }
    
    .main-services-info {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .main-info-p {
        width: 952px;
        height: 136px;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        color: #777777;
        margin-top: 23px;
    }
    
    .main-info-img {
        width: 195px;
        height: 136px;
        margin-right: 15px;
        margin-left: 25px;
        margin-top: 23px;
    }
    
    .buy-container {
        background-image: url("../img/bg-instal.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 476px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 100px;
    }
    
    .buy-contont-weight{ 
        font-size: 40px;
        line-height: 40px;
        color: #18CFAB;
        margin-top: 236px;
    }
    
    .buy-container-p {
    
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 40px;
        color: #D8D8D8;
        margin-top: 13px;
    }
    
    .buy-container button {
        background-color: #18CFAB;
        border-radius: 3px;
        border-style: none;
        width: 169px;
        height: 60px;
        margin-top: 67px;
        margin-bottom: 127px;
        position: relative;
        bottom: 125px;
        cursor: pointer;
    }
    
    .btn-wrapper-white {
        background-color: white;
        height: 63px;
        border-radius: 3px;
    }
    
    .btn-wrapper {
        margin-top: 62px;
    }
    
    .main-services-btn {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 39px;
    
        color: #717171;
    
    }
    
    .main-services-btn1 {
        background-color: #18CFAB;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 39px;
        color: #FFFFFF;
    }
    
    
    .btn-container-1 {
        background-color: #18CFAB;
        border-radius: 3px;
        border-style: none;
        height: 64px;
        margin-right: 29px;
    }
    
    .btn-wrapper {
        cursor: pointer;
    }

    .buy-container-title{
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        color: #18CFAB;
        color: #18CFAB;
        text-transform: uppercase;
        padding-top: 127px;
    }
    
    .buy-p {
    
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 32px;
        color: #FFFFFF;
    }
    
    .aside-wrapper-btn1 {
        width: 169px;
        height: 64px;
        background-color: #18CFAB;
        border-style: none;
        cursor: pointer;
        border-radius: 3px;
        position: relative;
        right: 169px;
        top: 5px;
    
    }
    
    .buyout-btn {
        display: flex;
        margin-top: 129px;
        margin-bottom: 259px;
        margin-left: 200px;
    }
    
    .aside-wrapper-bg1 {
        width: 169px;
        height: 63px;
        background-color: white;
        border-radius: 3px;
    }
    .header-menu-img{
        cursor: pointer;
        margin-bottom: 5px;
    }
    .aside-wrapper-btn1 span {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 32px;
        color: #FFFFFF;
    }
    
    .aside-wrapper-btn2 {
        background-color: #00CBF6;
        width: 169px;
        height: 64px;
        border-style: none;
        cursor: pointer;
        border-radius: 3px;
        position: relative;
        right: 169px;
        top: 5px;
    }
    
    .aside-wrapper-bg2 {
        background-color: white;
        height: 63px;
        width: 169px;
        cursor: pointer;
        border-radius: 3px;
    }
    
    .aside-wrapper-btn2 span {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 32px;
        color: #FFFFFF;
    }
    
    .swap-menu {
        display: flex;
        justify-content: center;
        height: 58px;
        margin-bottom: 71px;
        align-items: center;
    
    
    }
    
    .btn-swap-menu {
        background: rgba(0, 0, 0, 0.0001);
        border: 1px solid #DADADA;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 42px;
        cursor: pointer;
        color: #717171;
        padding: 8px 15px;
    
    }
    .btn-swap-menu:hover{
        border: 2px solid #18CFAB;
        color: #18CFAB;
    }
    
    .section-amazing-work-title {
        font-size: 36px;
        line-height: 40px;
        color: #4E4E4E;
    }
    
    .amazing-title-box {
        display: flex;
        justify-content: center;
    }
    
    .midle-stick1 {
        margin-top: 20px;
        margin-bottom: 69px;
    }
    
    .btn-swap-menu1 {
        border: 2px solid #18CFAB;
        color: #18CFAB;
        width: 59px;
    }
    
    .creative-design-btn1 {
        border: 1px solid #18CFAB;
        border-radius: 30px;
        width: 41px;
        height: 40px;
        background-color: #E9EDEF;
        cursor: pointer;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../img/link.png");
    }
    .creative-design-btn1:hover{
        background-color: white;
    }
    .link {
    
        cursor: pointer;
    }
    
    .cube {
        width: 12px;
        height: 11px;
        background-color: black;
    
        cursor: pointer;
    }
    
    .creative-design-btn2 {
        border: 1px solid #18CFAB;
        border-radius: 30px;
        width: 41px;
        height: 40px;
        background-color: #E9EDEF;
        cursor: pointer;
        background-repeat: no-repeat;
        background-image: url("../img/cube.png");
        background-position: center;
    }
    
    .creative-design-btn2:hover {
        background-color: #18CFAB;
    
    }
    
    .creative-design-h {
    font-weight: bold;
        font-size: 14px;
        line-height: 25px;
    
        color: #18CFAB;
    
    }
    
    .creative-design-span {
    font-weight: 300;
        font-size: 12px;
        line-height: 25px;
        color: #8A8A8A;
    
    }
    
    .design-img {
        width: 285px;
        height: 211px;
    }
    

    .btn-design {
        margin-bottom: 36px;
    }
    
    .our-design {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .our-design-content1 {
        display: flex;
        flex-direction: row;
        margin-bottom: -3px;
    }
    
    .our-design-content2 {
        display: flex;
        flex-direction: row;
        margin-bottom: 0;
    }
    
    .our-design-content3 {
        display: flex;
        flex-direction: row;
        margin: 0;
    }
    
    .section-amazing-work {
        background-color: #E9EDEF;
        padding-top: 95px;
    }
    
    .amazing-bg {
        background-color: #E9EDEF;
        height: 95px;
        width: 100%;
    }
    
    .load-btn-span {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 42px;
        color: #FFFFFF;
    }
    
    .load-btn {
        border-style: none;
        background-color: #18CFAB;
        width: 168px;
        height: 63px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 30px;
        cursor: pointer;
    
    }
    
    .load-btn-container {
        margin-top: 70px;
        margin-bottom: 99px;
    }
    
    .load-btn-item {
        position: relative;
        top: 44px;
        left: 20px;
        width: 18px;
        height: 19px;
    }
    
    .news-wrapper-container {
        background-color: #203E38;
        width: 70px;
        height: 68px;
        position: absolute;
        margin-left: 193px;
        margin-bottom: 212px;
    
    
    }
    
    .news-wrapper-container span {
        font-size: 16px;
        line-height: 25px;
        color: #FFFFFF;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .breaking-news-wrapper-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 263px;
        height: 100%;
    }
    
    .breaking-news-img {
        width: 263px;
        height: 208px;
        cursor: pointer;
    
    }
    
    .news-wrapper-span {
        margin-top: 10px;
    }
    
    .news-wrapper-span-comment {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 39px;
        color: #777777;
    
    }
    
    .stick-box {
        margin-left: 6px;
        margin-right: 6px;
    }
    
    .news-wrapper-container-title {
        margin-top: 4px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 39px;
        color: #717171;
        margin-left: 6px;
    
    }
    
    
    .breaking-news-wrapper-container:hover .news-wrapper-container-title {
        color: #18CFAB;
        cursor: pointer;
    }
    
    
    .breaking-news-wrapper-container:hover .news-wrapper-container {
        background-color: #18CFAB;
        cursor: pointer;
    
    }
    
    .news-wrapper-container-box {
        margin-top: -10px;
    }
    
    .news-wrapper-container-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-right: 35px;
    
    }
    
    .breaking-news-wrapper-container:hover .news-wrapper-container-box {
        cursor: default;
        margin-right: 25px;
    }
    
    .first-4-post {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .news-wrapper-container-post1 {
        margin-bottom: 44px;
        margin-top: 69px;
    }
    
    .news-wrapper-container-post2 {
        margin-bottom: 129px;
    }
    
    .breaking-news-wrapper-title h2 {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 40px;
        color: #4E4E4E;
        margin-top: 82px;
        margin-bottom: 24px;
    }
    
    .breaking-news-wrapper-title {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .midle-stick2 {
        margin-left: 15px;
    }
    
    .gallery-wrapper {
        display: flex;
        justify-content: center;
    }
    
    .gallery-wrapper-container1 {
        display: flex;
        flex-direction: column;
    
    }
    
    .gallery-wrapper-container-img {
        padding-bottom: 20px;
        padding-right: 19px;
    }
    
    .gallery-img7 {
        margin-top: 16px;
    }
    
    .gallery-wrapper-btn {
        background-color: #14B9D5;
        border-style: none;
        height: 25px;
        width: 27px;
    }
    
    .gallery-wrapper-image-opacity {
        position: absolute;
        width: 181px;
        height: 168px;
    }
    
    .gallery-container {
        display: flex;
        flex-direction: row;
    
    }
    
    .gallery-wrapper-image {
        margin-bottom: 3px;
        margin-right: 5px;
    }
    
   
    .gallery-wrapper-image2 {
        position: relative;
        background-color: rgba(0, 0, 0, 0.64);
        width: 181px;
        height: 168px;
    }
    
    .gallery-wrapper-btn1 {
        margin-top: 67px;
        margin-left: 207px;
        position: absolute;
        background-image: url("../img/search.png");
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center;
        cursor: pointer;
    
    }

    
    ul {
        list-style: none;
        padding-left: 0;
    }

    .centered-content {
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 28px;
    }

    .tabs {
        display: flex;
        cursor: pointer;
        margin-top: 69px;
    }

    .tabs-title {
        padding: 18px 40px;
        font-size: 15.9859px;
        line-height: 39px;
        align-items: center;
        color: #717171;
        background: #F8FCFE;
    border: 1px solid #EDEFEF;
    }
    .visible{
        display: none;
    }

    .tabs-title.active {
        background: #18CFAB;
        color: #23201D;
    }


    .tabs-block1{
        display: flex;
        align-items: center;
        
    }

    .text{
        width: 952px;
        margin-left: 15px;
    }

 
  
    .tabs-content{
        display: flex;
        align-items: center;
    }

    .container {
        margin: 0 auto;
        width: 1170px;
    }
    
    .button {
        display: inline-block;
        margin-top: 36px;
        background-color: #F1AD1D;
        padding: 19px 27px;
        border: 4px solid #F1AD1D;
        box-sizing: border-box;
        cursor: pointer;
    
        color: #fff;
        font-size: 14px;
        line-height: 14px;
        text-decoration: none;
    
        outline: none;
        box-shadow: none;
    }
    
    .button.active,
    .button:hover {
        border-color: #F48E0B;
    }
    
    .button.loader {
        background-image: url("data:image/svg+xml, %3Csvg version='1.1' id='loader-1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='40px' height='40px' viewBox='0 0 40 40' enable-background='new 0 0 40 40' xml:space='preserve'%3E%3Cpath opacity='0.2' fill='%23000' d='M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946 s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634 c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z'/%3E%3Cpath fill='%23F48E0B' d='M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0 C22.32,8.481,24.301,9.057,26.013,10.047z'%3E%3CanimateTransform attributeType='xml' attributeName='transform' type='rotate' from='0 20 20' to='360 20 20' dur='0.5s' repeatCount='indefinite'/%3E%3C/path%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center;
        color: transparent!important;
    }
    
    
    
    .slider .swiper-slide {
        text-align: center;
        font-size: 18px;
        justify-content: center;
        align-items: center;
    }
    

    .slider.swiper {
        width: 100%;
        height: 600px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .slider .swiper-slide {
        background-size: cover;
        background-position: center;
    }
    
    .thumbs-slider {
        height: 20%;
        box-sizing: border-box;
        padding: 10px 0;
    }
    
    .thumbs-slider .swiper-wrapper { display: flex; justify-content: center; }
    
    .thumbs-slider .swiper-slide {
        width: 58px !important;
        border-radius: 50%;
        height: 100%;
        opacity: 0.4;
        cursor: pointer;
    }
    
    .thumbs-slider .swiper-slide-thumb-active {
        position: relative;
        top: -10px;
        opacity: 1;
    }
    
    .thumbs-slider .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 4px solid #18CFAB;
        box-sizing: border-box;
        object-fit: cover;
    }
    
    .thumbs-slider .swiper-button-next,
    .thumbs-slider .swiper-button-prev {
        width: 34px;
        height: 34px;
        background-color: #18CFAB;
        color: #fff;
        cursor: pointer;
    }
    
    .thumbs-slider .swiper-button-next:after,
    .thumbs-slider .swiper-button-prev:after {
        font-size: 16px;
    }

    
    .wrapper-people{
        background-image: url(../img/Layer\ 333.png);
        height: 880px;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .container{
        padding-top: 2px;
    }
    

    
    .stick2{
        background-color: #18CFAB;
        height: 1px;
        margin-top: 3px;
        margin: 0 auto;
        position: relative;
    }

    .stick1{
        background-color: #18CFAB;
        height: 1px;
        top: 5px;
        left: 10px;
        margin: 0 auto;
        position: relative;
        margin-top: 25px;
    }

    .imp-img{
        width: 44px;
        height: 30px;
        margin: 0 auto;
        margin-top: 66px;
    }
    
    .swiper-slide h2{
        font-size: 36px;
    line-height: 40px;
    color: #FFFFFF;
    }

    .about-slider-text{
        width: 1250px;
        font-weight: 300;
        font-size: 16px;
        line-height: 30px;
        color: #BBBBBB;
        margin-left: 2px;
        margin-top: 36px;
    }


    .img-people{
        margin: 0 auto;
        padding-top: 40px;
        width: 171px;
        height: 166px;
    }

    .hasan{
        font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    justify-content: center;
    color: #18CFAB;
    margin-top: 37px;
    }

    .ux-desg{
        font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #BBBBBB;
    justify-content: center;
    }
    .swiper{
        overflow: inherit;
    }

    .swiper-pointer-events{
        padding-top: 10px;
    }

    .swiper-free-mode{
        padding-top: 11px;
    }
    
.slider.swiper{
    height: 590px;
}

.swiper-free-mode > .swiper-wrapper{
    margin-top: 10px;
}

.swiper-pointer-events {
    height: 61px;
}

  .container_amazing {
	margin: 0 auto;
	width: 1170px;
}

.button {
	display: inline-block;
	margin-top: 36px;
	background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #DADADA;
	padding: 19px 27px;
	box-sizing: border-box;
	cursor: pointer;
    font-size: 14px;
    line-height: 42px;
    align-items: center;
    color: #717171;
	font-size: 14px;
	line-height: 14px;
	text-decoration: none;
    padding: 10px 36px;
	outline: none;
	box-shadow: none;
}


.button:disabled {
	opacity: 0.2;
}
.button.active,
.button:hover {
	border-color: #18CFAB;;
}

.g-tab .tab-menu {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}

.g-tab .content-item {
	display: none;
	padding: 24px;
	box-sizing: border-box;
}

.g-tab .content-item.active {
	display: block;
}



.g-gallery .gallery-menu {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
    justify-content: center;
    margin-bottom: 71px;
}

.g-gallery .gallery-content {
	display: flex;
	flex-wrap: wrap;
}

.g-gallery .gallery-buttons {
	display: flex;
	justify-content: center;
}

.load_more{
    font-weight: 700;
    font-size: 14px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #18CFAB;
    margin-bottom: 100px;
    margin-top: 70px;
    padding: 21px 27px;
}

.plus_img{
    width: 18px;
    height: 19px;
    position: relative;
    top: 0px;
    left: -8px;   
}

.thumbs-slider .swiper-slide img{
    margin-top: 10px;
    height: 50px;
}

.container{
    width: 1260px;
}

.section-services{
    padding-top: 8.2rem;
}

.section-title{
    font-weight: 400;
    font-size: 3.6rem;
    line-height: 40px;
    color: #4E4E4E;
    text-align: center;
}
.section-services__list{
    display: flex;
    list-style: none;
    justify-content: center;
}

.section-services__item{
    font-weight: 400;
    font-size: 17px;
    line-height: 39px;
    width: 192px;
    min-height: 72px;
    text-align: center;
    color: #717171;
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
    padding: 15px 20px;
    cursor: pointer;
    margin-top: 10rem;
}
.section-services__item:hover{
    border:1.5px solid #00CBF6;
}
.section-services__content{
    margin-top: 25px;
}
.section-services__item.active{
    background-color: #18CFAB;
    color: #fff;
    position: relative;
}
.section-services__item.active::after{
    content: "▼";
    position: absolute;
    bottom: -23px;
    left: 81px;
    color: #18cfab;
    font-size: 29px;
}
.active[data-tab-content]{
    display: flex;
    margin-left: 186px;
}

.section-services__description{
    font-weight: 300;
    font-size: 13.645px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #777777;
    padding-left: 15px;
    max-width: 943px;
}
[data-tab-content]{
    display: none;
}




.button.loader {
	background-image: url("data:image/svg+xml, %3Csvg version='1.1' id='loader-1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='40px' height='40px' viewBox='0 0 40 40' enable-background='new 0 0 40 40' xml:space='preserve'%3E%3Cpath opacity='0.2' fill='%23000' d='M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946 s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634 c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z'/%3E%3Cpath fill='%23F48E0B' d='M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0 C22.32,8.481,24.301,9.057,26.013,10.047z'%3E%3CanimateTransform attributeType='xml' attributeName='transform' type='rotate' from='0 20 20' to='360 20 20' dur='0.5s' repeatCount='indefinite'/%3E%3C/path%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: center;
	color: transparent!important;
}

.button{
    padding: 15px 27px;
}

  
.section-services__item.active::after {
    content: "▼";
    position: absolute;
    bottom: -23px;
    left: 81px;
    color: #18cfab;
    font-size: 29px;
}
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.section-amazing{
    padding-top: 95px;
    background: #E9EDEF;
}
.section-amazing__menu{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 95px auto 0 auto;
    width: 672px;
    border: none;
}
.section-amazing__section-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-amazing__menu-button{
    padding: 14px 27px;
    font-weight: 400;
    font-size: 14px;
    line-height: 42px;
    color: #717171;
    border-radius: 0px;
    border: 1px solid #DADADA;
    background: rgba(0, 0, 0, 0.0001);
    cursor: pointer;
}
.section-amazing__menu-button:hover{
    color: #18CFAB;
    border: 1px solid #18CFAB;
}
.selected{
    color: #18CFAB;
    border: 1px solid #18CFAB;
}
.section-amazing__item{
    list-style-type: none;
}
.section-amazing__gallery{
    padding-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}
.section-amazing__backside{
    border-top: 2px solid #18CFAB;
}
.section-amazing__gallery-item{
    list-style: none;
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.section-amazing__gallery-item > .images-section,
.section-amazing__gallery-item > .section-amazing__backside {
    display: block;
    width: inherit;
    background-size: cover !important;
    background-position: center !important;
    background-color: #E9EDEF;
}
.section-amazing__gallery-item > .images-section,
.section-amazing__gallery-item > .section-amazing__backside{
    display: block;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 0.5s;
    transition-property: transform, opacity;
}
.section-amazing__gallery-item > .images-section{
    transform: rotateY(0deg);
}
.section-amazing__gallery-item > .section-amazing__backside{
    position: absolute;
    opacity: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: rotateY(-180deg);
}
.section-amazing__gallery-item:hover > .images-section {
    transform: rotateY(180deg);
}
.section-amazing__gallery-item:hover > .section-amazing__backside {
    opacity: 1;
    transform: rotateY(0deg);
}

.section-amazing__title-card{
    font-weight: 700;
    font-size: 14.1771px;
    line-height: 25px;
    align-items: center;
    text-transform: uppercase;
    color: #18CFAB;
    padding-top: 50px;
}
.section-amazing__subtitle{
    font-weight: 300;
    font-size: 12.1518px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #8A8A8A;
    padding-top: 10px;
}
.section-amazing__icons{
    list-style: none;
    width: 88px;
    height: 43px;
    display: flex;
    align-items: center;
    padding: 50px 0 0 100px
}
.section-amazing__icons--background{
    border: 1px solid #18CFAB;
    border-radius: 30px;
    padding: 15px;
}
.section-amazing__icons--square{
    border: 1px solid #18CFAB;
    border-radius: 30px;
    padding: 15px;
    background-color: #18CFAB;
    margin-left: 3px;
}

.section-amazing__container-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 99px;
}
.section-amazing__btn{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 42px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 70px;
    padding: 13px 18px 8px 23px;
    background: #18CFAB;
    border-radius: 5px;
    border: 1px solid #18CFAB;
    cursor: pointer;
}
.section-amazing__btn:hover{
    background: #18b2cf;
    border: 1px solid #18b2cf;
}
.btn-load__text{
    padding-left: 15px;
}
.section-amazing__menu-button:disabled {
	opacity: 0.2;
}

@keyframes preloader-inside-white {
    0% {
      -webkit-transform: scale(0, 0);
      -moz-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      -o-transform: scale(0, 0);
      transform: scale(0, 0);
    }
    100% {
      -webkit-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1);
    }
}
@keyframes preloader-inside-white {
    0% {
      -webkit-transform: scale(0, 0);
      -moz-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      -o-transform: scale(0, 0);
      transform: scale(0, 0);
    }
    100% {
      -webkit-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1);
    }
}
@keyframes preloader-inside-red {
    0% {
      -webkit-transform: scale(0, 0);
      -moz-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      -o-transform: scale(0, 0);
      transform: scale(0, 0);
    }
    30% {
      -webkit-transform: scale(0, 0);
      -moz-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      -o-transform: scale(0, 0);
      transform: scale(0, 0);
    }
    100% {
      -webkit-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1);
    }
}
@keyframes preloader-inside-red {
    0% {
      -webkit-transform: scale(0, 0);
      -moz-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      -o-transform: scale(0, 0);
      transform: scale(0, 0);
    }
    30% {
      -webkit-transform: scale(0, 0);
      -moz-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      -o-transform: scale(0, 0);
      transform: scale(0, 0);
    }
    100% {
      -webkit-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1);
    }
}
.section-amazing__container{
    position: relative;
}
.preloader{
    position: absolute;
    bottom: 50px;
    left: 50%;
    display: none;
}
.preloader .preloader-container {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    position: relative;
}
.preloader .preloader-container .animated-preloader {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    background: #18CFAB;
    border-radius: 50em;
}
.preloader .preloader-container .animated-preloader:after {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50em;
    background: white;
    -webkit-animation: preloader-inside-white 1s ease-in-out infinite;
    -ms-animation: preloader-inside-white 1s ease-in-out infinite;
    animation: preloader-inside-white 1s ease-in-out infinite;
}
.preloader .preloader-container .animated-preloader:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    border-radius: 50em;
    background: #18CFAB;
    -webkit-animation: preloader-inside-red 1s ease-in-out infinite;
    -ms-animation: preloader-inside-red 1s ease-in-out infinite;
    animation: preloader-inside-red 1s ease-in-out infinite;
}
    
    .gallery-wrapper-btn2 {
        margin-top: 67px;
        margin-left: 247px;
        position: absolute;
        background-image: url("../img/zoom.png");
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center;
        cursor: pointer;
    }
    
    .gallery-wrapper-arrow {
        position: relative;
        right: 80px;
        top: 53px;
    }
    
    .load-btn1 {
        border-style: none;
        background-color: #18CFAB;
        width: 168px;
        height: 63px;
        align-items: center;
        cursor: pointer;
        justify-content: center;
        display: flex;
    
    
    }
    
    .load-btn-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 67px;
        margin-top: 52px;
    }
    
    .load-btn-element {
        margin-right: 15px
    }
    
    .footer {
        background-color: #22353F;
        height: 121px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .footer p {
        font-weight: 300;
        font-size: 14px;
        line-height: 26px;
    
        color: #AEAEAE;
    
    }
    
    .footer span {
        color: #18CFAB;
    
    }
    
    .gallery-wrapper-title {
        font-weight: normal;
        font-size: 36px;
        line-height: 40px;
        color: #4E4E4E;
        margin-bottom: 24px;
    
    }
    
    .gallery-wrapper-head {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 72px;
    }
    
    .stick3 {
        width: 65px;
        margin-left: 11px;
    }
    
    .creative-design-box4 {
        display: none;
    }
    
    .creative-design-check4:hover .design-img4 {
        display: none;
    }
    
    .creative-design-check4:hover .creative-design-box4 {
        display: flex;
        width: 285px;
        height: 211px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-top: 3px solid #18CFAB;
    }
    .creative-design-check4{
        width: 285px;
        height: 211px;
    }
    .Back-title-curzor{
        width: 30px;
        border:2px solid #ccc;
        text-align:center;
        padding:10px;
        position:fixed;
        bottom:50px;
        right:40px;
        cursor:pointer;
        color:#333;
        font-size:12px;
        border-radius: 5px;
        background-image: url("../img/scroll-top.png");
        background-position: center;
        background-repeat: no-repeat;
        background-color: rgb(2, 255, 74);
    }
    
